footer {
    display: flex;
    margin-right: 500px;
    align-items: center;
    gap: 600px;
    width: 100vw;
    height: 160px;
    border: solid black;
    background-color: rgb(69, 66, 66);
}

h5 {
    padding-left: 100px;
    color: white;
}

.icon {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    padding-left: 100px;
    border-radius: 50%;
    gap: 15px;
}
